.comment-list-header {
    font-weight: bold;
    font-size: 16px;

  }
  
  .comment-list-item {
    --border-width: 0px;
    --background: #f8f8f8;
    --padding-start: 1px;
    --padding-end: 16px;
    --padding-top: 8px;
    --inner-padding-end: 8px;
  }
  
  .comment-list-item ion-label {
    font-size: 14px;
  }
  
  .comment-list-item ion-avatar {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  .comment-list-item ion-icon {
    font-size: 20px;
  }
  